<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360679595267-4ijdm1ee7a4th07ce7o9angcknd7qam0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360679595267-4ijdm1ee7a4th07ce7o9angcknd7qam0</string>
	<key>API_KEY</key>
	<string>AIzaSyDYngytanAwYsEbv9Rcb43yavJyI4vFrck</string>
	<key>GCM_SENDER_ID</key>
	<string>360679595267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodpandaUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodpanda-7ecb8</string>
	<key>STORAGE_BUCKET</key>
	<string>foodpanda-7ecb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360679595267:ios:8f6a79df2e971533ba9d36</string>
</dict>
</plist>